<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Simple Spring Security | Carey Development Demos</title>
        <object th:include="fragments/head :: head" th:remove="tag"></object>
    </head>
    <body class="page-container-bg-solid">
        <div th:include="fragments/topmenuheader :: header"></div>
        <div class="page-container">
            <div class="page-content-wrapper">
                <div class="page-head" style="background-color:#eff3f8;padding-top:40px">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-lg-12 ">
                                <div class="portlet-body form">
                                    <form th:action="@{/logout}" method="post">
                                        <div class="form-body" style="margin-bottom:200px">
                                            <h2 th:inline="text">Congrats! You're logged in as [[${#httpServletRequest.remoteUser}]]!</h2>
                                            <input style="margin-top:30px" type="submit" class="btn blue" value="Logout"/>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:include="fragments/homefooter :: footer"></div>
    </body>
</html>